<html>
<head>
    <title>Bücher: Hörbücher</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>Bücher: Hörbücher</h1>
        <table>
        <tr align="center">
        <th>ISBN</th><th>Titel</th><th>Subtitel</th><th>Autor</th><th>Erscheinungsjahr</th>
        </tr>
           <%
            for(var i = 0;i < library.length; i++){
                %><tr align="center"><td><%= library[i].isbn %></td>
                      <td width="200"><%= library[i].titel %></td>
                      <td width="200"><%= library[i].subtitel %></td>
                      <td width="200"><%= library[i].author %></td>
                      <td width="200"><%= library[i].erscheinungsjahr %></td>
            
            </tr><%
            }%>
        </table>
    <% if(library[0] == undefined) { %><p>Dieses System verfügt über keine Hörbücher.</p><%}%>
</body>
</html>